{
  "bootstrappers": [
    {
      "ecdsaHexPrivateKey": "<private-key>",
      "ecdsaHexPublicKey": "<public-key>"
    }
  ],
  "services": [
    {
      "ecdsaHexPrivateKey": "<private-key>"",
      "ecdsaHexPublicKey": "<public-key>"
    }
  ]
}
